.content
{
	background-color: lightgrey;
}

.welcome
{
	box-shadow: 0 10px 7px 0 rgba(0,0,0,0.2);
	background-color: #7386D5;
	border: 1px solid #7386D5;
	width: 500px;
	padding: 50px;
	color: #fff;
}

@media (max-width: 768px) {
	.content
	{
		background-color: #7386D5;
	}
	.welcome {
		box-shadow: none;
		width: 400px;
	}
}

@keyframes bold
{
	from {
		font-size: 0em;
	}
	to {
		font-size: 2.2em;
	}
}

.welcome h1
{
	animation-name: bold;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	margin-bottom: 0;

}

.welcome p
{
	color:#fff;
}

