{% extends "newlayout.html" %}

{% block script %}
{% endblock %}

{% block content %}
<div class="container-fluid content">
  	{% if error %}
  		<div class="alert alert-secondary" role="alert">
  			{{ error }}
		</div>
  	{% endif %}
	<div class="row d-flex justify-content-center align-items-center h-100">
		<div class="welcome">
			<div>				
			<h1> Flack </h1>
			<p> ...a simple chat service</p>
			</div>

			<form id="save" method="post" action="{{ url_for('login') }}">
	  		<div class="form-group">
	    		<input id="username" name="username" type="text" class=" mb-2 form-control"aria-describedby="username" required="true" placeholder="Enter username">
	    		<input id="password" name="password" type="password" class="form-control"aria-describedby="password" required="true" placeholder="Enter Password">
	  		</div>
	  		<button type="submit" class="btn btn-light">Log in</button>
	  		<div class>
                No account? no worries <a href="{{ url_for('register') }}"><b> Register here</b></a>
            </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}