{% extends "newlayout.html" %}

{% block content %}

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Flack</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Thompson</p>
            <li>
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Channels</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
           
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Private Channels</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="list-unstyled components-bottom"> 
        	<li>
                <a href="#">Create Channel</a>
            </li>
            <li>
                <a href="#">Log out</a>
            </li>
            <li>
                <a href="#">Delete Profile</a>
            </li>
        </ul>

    </nav>
    <!-- Page Content -->
    <div id="content">
<!-- 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                </button>
            </div>
        </nav> -->
        <div class='header d-flex flex-row'>
        	<button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-bars"></i>
            </button>
            <h4> General </h4>
        	
        </div>

        <div class="chat-box">
       
	      

	        <!-- Reciever Message-->
	        <div class="media with ml-auto mb-3 pr-2">
	          <div class="media-body">
	            <div class="bg-primary rounded py-2 px-3 mb-2">
	              <p class="text-small mb-0 text-white">Apollo University, Delhi, India Test</p>
	            </div>
	            <p class="small text-muted">12:00 PM | Aug 13</p>
	          </div>
	        </div>

 <!-- Reciever Message-->
	        <div class="media with ml-auto mb-3 pr-2">
	          <div class="media-body">
	            <div class="bg-primary rounded py-2 px-3 mb-2">
	              <p class="text-small mb-0 text-white">Apollo University, Delhi, India Test</p>
	            </div>
	            <p class="small text-muted">12:00 PM | Aug 13</p>
	          </div>
	        </div>
 <!-- Reciever Message-->
	        <div class="media with ml-auto mb-3 pr-2">
	          <div class="media-body">
	            <div class="bg-primary rounded py-2 px-3 mb-2">
	              <p class="text-small mb-0 text-white">Apollo University, Delhi, India Test</p>
	            </div>
	            <p class="small text-muted">12:00 PM | Aug 13</p>
	          </div>
	        </div>

	      
	        <!-- Sender Message-->
	        <div class="media with mb-3"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
	          <div class="media-body ml-3">
	            <div class="bg-light rounded py-2 px-3 mb-2">
	              <p class="text-small mb-0 text-muted">Test, which injjsd rwh edrwbureuybreu urwebreer uyberybs a new approach</p>
	            </div>
	            <p class="small text-muted">12:00 PM | Aug 13</p>
	          </div>
	        </div>

	        <!-- Reciever Message-->
	        <div class="media with ml-auto mb-3">
	          <div class="media-body">
	            <div class="bg-primary rounded py-2 px-3 mb-2">
	              <p class="text-small mb-0 text-white">Apollo University, Delhi, India Test</p>
	            </div>
	            <p class="small text-muted">12:00 PM | Aug 13</p>
	          </div>
	        </div>

        </div>

      <!-- Typing area -->
      
      	<form action="#" class="bg-light">
      		<div class="message-box">
		        <div class="input-group">
		          <input type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-3 bg-light">
		          <div class="input-group-append">
		            <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
		          </div>
		        </div>
              </div>

      	</form>


    </div>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript">
	$(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $(".chat-box").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
</script>

{% endblock %}