{% extends "layout.html" %}

{% block content %}
<div class="container-fluid content">
  	{% if error %}
  		<div class="alert alert-secondary" role="alert">
  			{{ error }}
		</div>
  	{% endif %}

	<div class="row d-flex justify-content-center align-items-center h-100">
		<div class="welcome">
			<div class="mb-3 d-flex justify-content-center">				
			<h2> Create an Account </h2>
			</div>
			<form id="register" method="post" action="{{ url_for('register') }}">
	  		<div class="form-group">
	    		<input id="username" name="username" usetype="text" class=" mb-2 form-control"aria-describedby="username" placeholder="Enter username" required="true">
	    		<input id="username" name="password" type="password" class="mb-2 form-control"aria-describedby="password" placeholder="Enter Password" required="true">
	    		<input id="username" name="confirm_password" type="password" class="form-control"aria-describedby="password" placeholder="Confirm Password" required="true">
	  		</div>
	  		<button type="submit" class="btn btn-light">Register</button>
	  		<div class>
                Already registered? <a href="{{ url_for('login') }}"><b> Log in</b></a>
            </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}