{% extends "layout.html" %}

{% block script %}
<script>
	// check if username is already stored 
	if (localStorage.getItem("username")){

		// send the username to the server and redirect
		const request = new XMLHttpRequest();
		request.open("POST", "/send");

		request.onload = data => {
			if (request.responseURL) 
			{	
				window.location.href = request.responseURL;
			}
		}

		const data = new FormData();
		data.append("username",localStorage.getItem("username"));
		data.append("newuser", false);
		request.send(data);
	}

	document.addEventListener("DOMContentLoaded", () => {
		// when a user is inputting the username
		document.querySelector("#save").onsubmit = () => {
			const username = document.querySelector("#username").value;

			// store the username in local storage
			localStorage.setItem("username", username);
			// store thee default general channel in username also
			localStorage.setItem("channel", "general");
			
			// send the username to the server and redirect
			const request = new XMLHttpRequest();
			request.open("POST", "/send");

			request.onload = data => {
				if (request.responseURL) 
				{	
					window.location.href = request.responseURL;
				}
			}

			const data = new FormData();
			data.append("username",localStorage.getItem("username"));
			data.append("newuser", true)
			request.send(data);

			return false;
		}
	})
</script>
{% endblock %}

{% block title %} Welcome to Flack {% endblock %}

{% block content %}
  

<div class="container-fluid content">
  
	
	<div class="row d-flex justify-content-center align-items-center holder">

		<div class="welcome">
			
			<div>				
			<h1> Flack </h1>
			<p> ...a simple chat service</p>
			</div>

			<form id="save" method="get" action="">
	  		<div class="form-group">
	    		<label for="exampleInputEmail1">What would you like to be called</label>
	    		<input id="username" name="username" usetype="text" class="form-control"aria-describedby="username" placeholder="Enter username" required="true">
	   
	  		</div>
	  		<button type="submit" class="btn btn-primary">Log in</button>
			</form>

		</div>

	</div>
</div>
{% endblock %}